body {
  margin: auto;
  padding: none;
}

h2 {
  font-family: 'David Libre', serif;
  margin: auto;
  padding: none;
  text-align: center;
}

h3 {
  margin: auto;
  padding: none;
  text-align: center;
}

.btn {
  padding: none;
  margin: auto;
}

.btnClicked {
  padding: none;
  margin: auto;
  box-shadow: 1px;
}

.button-group {
  margin: auto;
  padding: 0 0 2rem 0;
}

.cardBlock {
  background-color: #EFF0F5;
  border: 0.5rem;
  border-style: solid;
  border-color: #C8D1DE;
  margin: 0 2rem 0 2rem;
  padding: none;
}

.topBlock {
  border: 1px;
  background-color: red;
  margin: auto;
  padding: 10rem 1rem 10rem 0;
}

.questionBlock {
  margin: auto;
  padding: 3rem 0 3rem 0;
  font-family: 'David Libre', serif;
}
